 
 {{!-- cai nay la HTML --}}
<h3 style="color: red"> {{loginStatus}}</h3>
{{{loginStatusHTML}}}
<form action="/" method="post">
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <button type="submit">Gui</button>
</form>