<h1>dung khong</h1>
<button type="button" class="btn btn-danger">dung roi</button>
<button type="button" class="btn btn-warning">nam ngu</button>
<button type="button" class="btn btn-info">van ngu</button>
<button type="button" class="btn btn-light">kha ngu</button>
<button type="button" class="btn btn-dark">ok</button>