p, h1, h2{
    color: red
}

.mauxanh{
    color:green; 
    font-size: 4em
}

#abc{
    font-weight: bold;
    font-size: 3em
}



body{
    background: url(http://file.vforum.vn/hinh/2018/05/ta-ngoi-nha-cua-em.jpg);
    background-repeat: no-repeat;
    background-size: cover 
}
.block{
    display: block
}