{{{loginStatus}}}
<form action="/" method="post">
    <input type="text" name="name" id="" placeholder="Ten">
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">Gui</button>
</form>